@import "@/components/PersonHardSkills/skill-item.scss";

.hard-skills-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 17px;

  padding: 25px;
  border-radius: $section-container-radius;
  box-sizing: border-box;

  background-color: $background-color-white;
  position: relative;
}
.hard-skills__title {
  font-family: 'MontserratBold', sans-serif;
  font-size: 18px;
  line-height: 22px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
.hard-skills-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 17px;

  @media screen and (max-width: 947px) {
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: unset;

      align-items: center;
    }
  }
}
.hard-skills__skill {
  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  gap: 20px;

  @media screen and (max-width: 947px) {
    max-width: unset;

    width: 45%;

    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 345px;
    }
  }
}