@font-face {
  font-family: "MontserratMedium";
  src: url("@/assets/fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("@/assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype');
}
@font-face {
  font-family: "MontserratBold";
  src: url("@/assets/fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}