@import "@/styles/consts/consts.scss";

.projects-nav__filter {
  min-width: fit-content;
  padding: 8px 22px;
  background: $background-color-white;
  text-decoration: none;
  position: relative;
  transition: all 0.25s ease;
  overflow: hidden;
  border: 1px solid $button-border-color-base;
  border-radius: $button-container-radius-m;
  cursor: pointer;
  user-select: none;

  @media  (hover: hover) {
    &:hover {
      border: 1px solid $button-border-color-blue;
    }
  }
}
