@import "@/styles/consts/consts.scss";

.projects-nav__filter {
  min-width: fit-content;
  padding: 8px 22px;
  background: $background-color-white;
  text-decoration: none;
  position: relative;
  transition: all 0.25s ease;
  overflow: hidden;
  border: 1px solid $button-border-color-base;
  border-radius: $button-container-radius-m;
  cursor: pointer;
  user-select: none;

  &:hover {
    background: $background-color-blue;
    color: $text-color-white;
    border: 1px solid transparent;
  }
  &:active {
    &:after {
      width: 150px;
      height: 150px;
    }
  }
}
