@import "@/styles/consts/consts.scss";

.project-wrapper {
  width: 100%;
  max-width: 329px;

  display: flex;
  flex-flow: column nowrap;

  padding: 18px 18px 33px 18px;
  border-radius: $section-container-radius;
  box-sizing: border-box;

  background-color: $background-color-white;
  position: relative;

  @media screen and (max-width: 1110px) {
    max-width: unset;
    flex-flow: row nowrap;
    gap: 50px;

    @media screen and (max-width: 768px) {
      max-width: 100%;
      flex-flow: column nowrap;
      gap: unset;
    }
  }
}
.project__image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;

  border-radius: $image-container-radius;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $image-container-radius;
  }

  @media screen and (max-width: 1110px) {
    flex: 1 1 40%;
    flex-flow: row nowrap;
    margin-bottom: 0;

    @media screen and (max-width: 768px) {
      flex: unset;
      flex-flow: unset;
      margin-bottom: 24px;
    }
  }
}
.project__info {
  width: 100%;

  display: flex;
  flex-flow: column nowrap;

  @media screen and (max-width: 1110px) {
    flex: 1 1 60%;

    @media screen and (max-width: 768px) {
      flex: unset;
    }
  }
}
.project__tags {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  gap: 9px;

  margin-bottom: 22px;

  .tag {
    font-family: 'MontserratMedium', sans-serif;
    font-size: 16px;
    line-height: 20px;
  }
}
.project__title {
  width: 100%;

  font-family: 'MontserratMedium', sans-serif;
  font-size: 24px;
  line-height: 29px;

  color: $section-title-color;

  margin-bottom: 41px;
}
.project__descr {
  width: 100%;

  font-family: 'MontserratMedium', sans-serif;
  font-size: 16px;
  line-height: 20px;

  color: $section-text-color;
}
.project__links {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;

  gap: 11px;

  margin-top: 41px;
}