// Border radiuses
$section-container-radius: 12px;
$image-container-radius: 12px;
$button-container-radius-m: 12px;
$button-container-radius-s: 4px;

// Border colors
$button-border-color-base: #4f4f4f;
$button-border-color-blue: #2F80ED;