// Text colors
$base-text-color: #4f4f4f;
$section-title-color: #333333;
$section-text-color: #828282;
$note-text-color: #E0E0E0;
$link-text-color: #2F80ED;
$text-color-white: #FFFFFF;

// Button text colors
$button-text-color-white: #FFFFFF;
$button-text-color-blue: #2F80ED;

// Background colors
$background-color-white: #FFFFFF;
$background-color-blue: #2F80ED;
$background-color-light-gray: #F2F2F2;
$background-color-dark-gray: #C4C4C4;