.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

  .content-wrapper {
    width: 100%;
    max-width: 1046px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    gap: 42px;

    @media screen and (max-width: 1110px) {
      padding: 0 40px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: unset;

        @media screen and (max-width: 375px) {
          padding: 0 20px;
        }
      }
    }
  }
}
.person-additional-info {
  width: 100%;

  display: flex;
  flex-direction: row;

  gap: 35px;

  @media screen and (max-width: 947px) {
    flex-direction: column;
  }
}
.info__left-column, .info__right-column {
  display: flex;
  flex-direction: column;

  gap: 42px;
}
.info__left-column {
  width: 100%;
  max-width: 415px;

  @media screen and (max-width: 947px) {
    max-width: 100%;
  }
}